:root {
    --card-width: 500px;
    --card-height: 600px;

    --big-text-size: 60px;
    --small-text-size: 35px;

    --title-size: 80px;
}

/* --------------------------
              ОСНОВА
---------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap');

body {
    margin: 0;
    background: #071744;
    font-family: 'Montserrat', sans-serif;
    color: #071744;
}

.title {
    text-align: center;
    margin-top: 40px;
    font-size: var(--title-size);
    font-weight: 800;
    color: white;
}

.container {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    gap: 80px;
    flex-wrap: wrap;
}

/* --------------------------
           КАРТКИ
---------------------------*/

.card {
    width: var(--card-width);
    height: var(--card-height);

    background: linear-gradient(
        90deg,
        rgba(255, 240, 170, 0.45) 0%,
        rgba(255, 255, 255, 1) 60%
    );

    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    box-shadow: 0 0 20px rgba(255,255,255,0.25);
}

.big-text {
    font-size: var(--big-text-size);
    font-weight: 700;
    line-height: 1.25;
    margin: 0;
}

.back-btn {
    position: fixed;
    top: 20px;
    left: 20px;
    padding: 10px 18px;
    background: rgba(255,255,255,0.15);
    border-radius: 8px;
    color: white;
    text-decoration: none;
    font-size: 20px;

    z-index: 9999; /* ДУЖЕ ВАЖЛИВО! */
}

.merkuriy-link {
    color: #071744;
    text-decoration: underline;
    cursor: pointer;
    font-weight: 700;
}

.merkuriy-link:hover {
    color: #2a55ff;
}

.zemlya-link {
    color: #071744;
    text-decoration: underline;
    cursor: pointer;
    font-weight: 700;
}

.zemlya-link:hover {
    color: #2a55ff;
}

.yupiter-link, .saturn-link {
    color: #071744;
    text-decoration: underline;
    cursor: pointer;
    font-weight: 700;
}

.yupiter-link:hover, .saturn-link:hover {
    color: #2a55ff;
}

.venera-link, .mars-link {
    color: #071744;
    text-decoration: underline;
    cursor: pointer;
    font-weight: 700;
}

.venera-link:hover, .mars-link:hover {
    color: #2a55ff;
}

.uran-link, .neptun-link {
    color: #071744;
    text-decoration: underline;
    cursor: pointer;
    font-weight: 700;
}

.uran-link:hover, .neptun-link:hover {
    color: #2a55ff;
}


.small-text {
    font-size: var(--small-text-size);
    font-weight: 600;
    margin: 10px 0;
}