body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #071447; /* темно-синій фон */
    color: white;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 80px;
}

.text-block {
    width: 40%;
}

.text-block h1 {
    font-size: 100px;
    font-weight: 800;
    line-height: 1.1;
    margin-bottom: 20px;
    color: white;
    text-decoration: none;
}
.text-block a {
    text-decoration: none;
    color: inherit; /* щоб колір не змінювався */
}

.text-block p {
    font-size: 25px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.image-block img {
    width: 1100px;
}

/* декоративні зірки */
.star {
    position: absolute;
    width: 80px;
    height: 80px;
    background: #ff7d2d;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 
                       68% 57%, 79% 91%, 50% 70%, 
                       21% 91%, 32% 57%, 2% 35%, 
                       39% 35%);
}

.star1 {
    top: 100px;
    left: 650px;
}

.star2 {
    bottom: 500px;
    right: 200px;
    background: #c061ff;
}
.button{
display: flex;
    align-items: center;     /* вертикальне вирівнювання */
    justify-content: center; /* горизонтальне (якщо потрібно) */
    width: 100px;
    height: 30px;
    margin: auto;
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 10px;
}