body {
    background: #001033;
    color: white;
    font-family: "Comic Sans MS", sans-serif;
    margin: 0;
    padding: 0;
}

.back-btn {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px 20px;
    background: #ffcc00;
    color: black;
    text-decoration: none;
    border-radius: 10px;
    font-weight: bold;
}

.container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 60px 20px 20px;
}

.col {
    width: 32%;
}

.planet, .satellite, .volcano {
    width: 70%;
    display: block;
    margin-bottom: 0px;
}

p {
    font-size: 18px;
    line-height: 1.5;
}
